version: '3.8'

services:
  
  db:
    image: postgres:15-alpine
    container_name: photo_db
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: photo_service
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  
  rabbitmq:
    image: rabbitmq:3-management-alpine
    container_name: photo_rabbit
    ports:
      - "5672:5672"   
      - "15672:15672" 
    environment:
      RABBITMQ_DEFAULT_USER: guest
      RABBITMQ_DEFAULT_PASS: guest

  
  minio:
    image: minio/minio
    container_name: photo_minio
    ports:
      - "9000:9000" 
      - "9001:9001" 
    environment:
      MINIO_ROOT_USER: minioadmin
      MINIO_ROOT_PASSWORD: minioadmin
    command: server /data --console-address ":9001"
    volumes:
      - miniodata:/data

 
  createbuckets:
    image: minio/mc
    depends_on:
      - minio
    entrypoint: >
      /bin/sh -c "
      /usr/bin/mc alias set myminio http://minio:9000 minioadmin minioadmin;
      /usr/bin/mc mb myminio/images;
      exit 0;
      "

app:
    build: .
    container_name: photo_app
    ports:
      - "8080:8080"
    depends_on:
      - db
      - rabbitmq
      - minio
    environment:
      DB_URL: "postgres://user:password@db:5432/photo_service"
      RABBIT_URL: "amqp://guest:guest@rabbitmq:5672/"
      S3_ENDPOINT: "minio:9000"

volumes:
  pgdata:
  miniodata: